/node_modules 
/venv
*.code-workspace
*.pyc
db.json
installation/installation_information.json
activation_script.sh
GUI/src/backend/projects/*.json
__pycache__
GUI/src/backend/__pycache__/
GUI/__pycache__/
util/__pycache__/__init__.cpython-36.pyc
util/__pycache__/__init__.cpython-37.pyc
util/__pycache__/ProgressBar.cpython-36.pyc
util/__pycache__/ProgressBar.cpython-37.pyc
